@font-face {
  font-family: "ZCOOL YuYang 3";
  src: url("assets/zcool-yuyang-3.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
    --main-font: "ZCOOL YuYang 3", "SimSun", "Noto Serif SC", serif;
}

body {
      margin: 0;
      background: #fff;
      color: #0C6170;
      font-family: var(--main-font);
    }
canvas {
    display: flex;
    margin: 0 auto;
}